.barchart {
  position: absolute;
  width: 110px;
  height: 110px;
  /* left: 759px; */
  /* top: 436px; */
  background: rgba(252, 199, 199, 0.97);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

  border-radius: 50%;
  left: 50%;
  top: 50%;
}

.doughnut {
  box-sizing: border-box;
  position: absolute;
  /* left: 50.29%; */
  right: 43.34%;
  /* top: 16.62%; */
  bottom: 80.03%;
  /* border: 6px solid #f8280c; */
  border-radius: 3px;
  /* transform: rotate(-180deg); */

  transform: rotate(-40deg);
  height: 100px;
  width: 10px;
  left: -2.71%;
  top: -4.38%;
}
